.words-display{
  font-family: sans-serif;
  font-size: 20px;
  position: relative;
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 50px;
}

.word-display{
  height: 20px;
  cursor: pointer;
}

.word-absolute{
  position: absolute;
  left: 60%;
  transform: translate(-50%);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fd79a8;
}

.guess{
  color: green;
}

.not-guess{
  color: red;
}