*:fullscreen{
  background-color: white;
}

.game-body-container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 600px;
  height: 220px;
}

.content-container{
  /*margin-top: 20px;*/
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content{
  width: 600px;
  display: flex;
  justify-content: space-between;
}

h2{
  text-align: center;
}

.audio-icon{
  cursor: pointer;
}

.word-image{
  position: relative;
  width: 150px;
  height: 150px;
}
.game-image{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 4px;
  object-fit: cover;
}

.content-container{
  /*margin-top: 20px;*/
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.random-words{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  cursor: pointer;
  text-transform: capitalize;
  margin-left: 5px;
}


.button-reboot-game{
  text-align: center;
  margin: 10px 10px;
}

.end-game{
  text-align: center;
}

.button-play{
  display: block;
  margin: 0 auto;
}


.guessed{
  color: green;
}

.no-guessed{
  color: red;
}

.hide{
  display: none;
}