.stat-section{
  margin-bottom: 64px;
}
.progress {
  display: block!important;
  margin: auto;
  margin-top: 128px;
}
.iconed-block {
  display: flex;
  align-items: center;
}
.icon {
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  &--study {
    background: url("../../assets/icons/reading-book.svg");
    background-size: contain;
  }
  &--pie {
    background: url("../../assets/icons/pie-chart.svg");
    background-size: contain;
  }
  &--game {
    background: url("../../assets/icons/games-black.svg");
    background-size: contain;
  }
  &--large {
    width: 28px;
    height: 28px;
  }
}
