.sprint {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #59b2ef;
    border-radius: 8px;
    &__interface {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__bonus{
        text-align: center;
    }
    &__words-container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 100px;
        background-color: aliceblue;
        margin-bottom: 20px;
    }
    &__point {
        background-color: #59b2ef;
        width: 100%;
        text-align: center;
        padding:30px 0 30px 0;
        min-height: 82px;
    }
    &__timer {
        font-size: 20px;
    }
    &__score {
        font-size: 20px;
    }
    &__bonus {
        font-size: 20px;
    }
    &__button {
        margin-bottom: 20px;
    }
}

.makeStyles-root-1{
    min-height: 82px;
}